/*Style Sheet*/

/*CSS Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Unversal - Border Box & Clearfix */

*, *:before, *:after{
	box-sizing: border-box;
}


.clearfix:before, .clearfix:after{
	content: "";
	display: table;
}

.clearfix:after{
	clear:both;
}

.clearfix{
	clear:both;
}

/*Wrapper*/

.wrapper {
	background-color: #2C2D2B;
	width: 1000px;
	height: 900px;
	padding: 30px;
	margin: 30px auto;
}

/*Header*/

h1 {
	color: white;
	font-size: 40px;
	font-weight: bold;
	font-family: Garamond;
	text-shadow: 0 3px 1px #9D9A95;
	margin: 50px;
	padding-left: 10px;
}

.tagged {

	float: left;
	color: red;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	margin-left: 50px;
}

.date {
	float: right;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
	margin-right: 50px;
}

p {

	font-family: sans-serif;
	font-size: 20px;
	color: #B1A07F;
	padding: 10px;
	margin-left: 50px;
	margin-right: 50px;
	line-height: 1;
}
