/*CSS Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
  display: block;
 }
 body {
  line-height: 1;
 }
 ol, ul {
  list-style: none;
 }
 blockquote, q {
  quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
  content: '';
  content: none;
 }
 table {
  border-collapse: collapse;
  border-spacing: 0;
 }

 /*Custom CSS*/

 /*Body*/

 *,
 html,body {
  font-size: 10px;
  font-family: serif;
  color: #403F41;
 }

 .wrapper {
  width: 1500px;
  height: 800px;
  background-color: rgba(171, 164, 165, 0.2);
  margin: 80px auto;
 }

 /*Header*/

 h1 {
  text-align: center;
  font-size: 6em;
  line-height: 2;

 }

/*Body*/

 .inset {
  width: 1300px;
  height: 500px;
  background-color: white;
  margin: 0 auto;
  box-sizing: border-box;
 }

/*Table of Contents*/

 .col1 {
  width: 325px;
  box-sizing: border-box;
  text-align: left;
  font-size: 2.5em;
  display: inline-block;
  padding: 30px;
  vertical-align: top;
  padding: 120px 50px;
 }


a { 
  display: inline-block;
  text-decoration: none;
}

  /*Extract*/

 .col2 {
  width: 650px;
  box-sizing: border-box;
  text-align: left;
  font-size: 2em;
  display: inline-block;
 }

  h2 {
  text-align: left;
  font-size: 3em;
  line-height: 2;
  vertical-align: top;
 }

 p {
  font-size: 1.1em;
 }

 span {
  font-size: 1.1em;
  padding: 30px;
  display: inline-block;
 }

 /*Quote*/

 .col3 {
  width: 300px;
  box-sizing: border-box;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  padding: 120px 50px;
 }

 blockquote {
  font-size: 2.5em;
  line-height: 1;
  display: inline-block;
  word-spacing: 5px;
 }
